<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie...</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
</head>
<header>
    <header>
        <nav class="navbar navbar-light bg-light bg-dark border border-danger">
          <a href="/accueil/1" class="navbar-brand text-danger font-weight-bold">CINEPHILE</a>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <!-- Menu Category Ã  copier coler sur le la page d'acceuil  -->
            <div class="btn-group p-4" role="group" aria-label="Basic example">
              <a href="/categories/28"><button type="button" class="btn btn-outline-danger">Action</button></a>
              <a href="/categories/27"><button type="button" class="btn btn-outline-danger">Horror</button></a>
              <a href="/categories/16"><button type="button" class="btn btn-outline-danger">Animation</button></a>
              <a href="/categories/878"><button type="button" class="btn btn-outline-danger">Adventure</button></a>
              <a href="/categories/18"><button type="button" class="btn btn-outline-danger">Scyfy</button></a>
            </div>
            <!-- ----------------------------------------------------------------- -->
          <form class="form-inline m-2" method="post">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </nav>
</header>
<body class="bg-dark">
    {% block page_content %}{% endblock %}
</body>
</html>