{% extends "base.html" %} {% block page_content %}
<div class="row m-5">
  {% for movie in data.results %}
  <div class="card col-2 m-5">
    <img
      class="card-img-top"
      src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
      alt="movie image"
    />
    <div class="card-body">
      <h5 class="card-title">{{ movie.original_title }}</h5>
      <p class="card-text" style="text-overflow: ellipsis">
        {{ movie.overview|truncatechars:150 }}
      </p>
      <a href="/details-film/{{ movie.id}}" class="btn btn-outline-danger"
        >Voir+</a
      >
    </div>
  </div>
  {% endfor %}
  <!-- <nav aria-label="Page navigation example">
          <ul class="pagination">
            
            <li class="page-item"><a class="page-link" href="/accueil/1">1</a></li>
            <li class="page-item"><a class="page-link" href="/accueil/2">2</a></li>
            <li class="page-item"><a class="page-link" href="/accueil/3">3</a></li>
          
          </ul>
        </nav> -->
</div>
{% endblock %}
